<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>3130 Grader</title>
	<link rel="stylesheet" href="./index.css">
</head>
<body>
	<div id="app">
		<router-view></router-view>
	</div>
	<div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Test</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a href="" class="dropdown-item">A</a>
			<a href="" class="dropdown-item">B</a>
			<a href="" class="dropdown-item">C</a>
		</div>
	</div>
	<script src="./index.js"></script>
</body>
</html>
